{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <br>
    <div class="paragraphs">
        <div class="row">
            <div class="col-md-6">

                <p style="clear:both">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec pretium, ante ac laoreet fringilla, ipsum est facilisis nunc, sit amet
                    gravida dolor sapien nec mi. Nam libero diam, bibendum id fringilla vel,
                    rhoncus et magna. Nulla velit felis, commodo id eros eu, varius malesuada ex.
                    Vivamus metus erat, lacinia in ultrices eu, consequat a diam. Nullam
                    sollicitudin pulvinar ligula. Praesent ultricies lectus id cursus ornare.
                    Suspendisse vulputate placerat pretium. Proin vitae hendrerit justo, et
                    accumsan quam. Nulla hendrerit finibus odio, in luctus est consequat id. Nunc
                    sapien nunc, fringilla non nunc a, convallis pellentesque enim.</p>

                     <p style="clear:both">Sed ullamcorper arcu porta, tristique leo nec, laoreet odio. Nunc fringilla
                    vehicula metus sed sodales. Nulla facilisi. Quisque sagittis lacus at est
                    cursus, a pellentesque ipsum consectetur. Curabitur quis dolor sem. Morbi
                    tempor dui dui, vel hendrerit velit ullamcorper vel. Quisque ac tristique
                    justo, sit amet rutrum est. Fusce rhoncus rutrum lacus, at tempor elit
                    tristique ac. In quis quam sit amet nisl pretium ornare in ut arcu. Cras
                    pellentesque purus dolor, posuere mattis justo consequat at. Nulla facilisi.
                    Mauris nec mi quis odio commodo sagittis. Vivamus pulvinar sagittis libero, nec
                    vulputate tortor faucibus et.</p>

                     <p style="clear:both">Pellentesque ultrices risus ut tristique faucibus. Vivamus ultrices feugiat mi
                    vitae egestas. Sed venenatis nec lorem vitae viverra. Proin id accumsan turpis.
                    Sed eget augue orci. Proin nunc tellus, dignissim vel pulvinar in, viverra quis
                    risus. Nullam vitae facilisis felis. Nulla sit amet aliquam velit. Proin
                    pretium sapien eget libero imperdiet tincidunt.</p>

                     <p style="clear:both">Integer ac nisl eget dui eleifend tempor in sit amet libero. Pellentesque
                    bibendum sem nec nulla porta ultrices. Fusce id lacinia quam. Fusce suscipit,
                    lorem sed semper porttitor, neque lectus blandit urna, sed elementum arcu metus
                    lacinia est. Donec venenatis aliquam enim, vestibulum luctus nunc molestie sit
                    amet. Donec vestibulum pharetra massa sed viverra. Maecenas est quam, luctus
                    vel posuere a, egestas ut odio.</p>

                     <p style="clear:both">Maecenas at elementum magna. Integer eleifend varius felis at imperdiet. Nulla
                    ut mauris nec leo bibendum sodales. Sed sit amet fermentum nisi. Praesent
                    iaculis ornare ex, at mattis lacus bibendum scelerisque. Donec vestibulum
                    commodo faucibus. Nulla dictum nibh quis neque gravida mollis.</p>


            </div>

            <div class="col-md-6">
                <br>
                <img style="max-width: 500px" src="{% static 'img/headshot.png' %}"
                     alt=""
                     class="img-fluid">
            </div>


        </div>
    </div>

{% endblock %}